<div class="container-fluid p-0">
    <div class="row row-cols-2">
        <div class="d-none d-lg-block col">
            <!-- <img src="../../assets/img/logo_fr_bceao.png" class="w-100" alt=""> -->
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 left-height">
            <div class="d-flex justify-content-center h-100 align-items-center px-sm-4 px-4">
                <form action="" class="form">
                <h3 class="mt-4">Bienvenue sur le portail ACM</h3>

                    <div class="row justify-content-center mb-5">
                        <img src="../../assets/img/logo_fr_bceao.png" width="160px" class="logo-login" alt="">
                    </div>
                    <div class="row justify-content-center my-4">
                        <label for="floatingInput" class="mb-2 p-0">Identifiant</label>
                        <input type="email" class="form-control" id="identifiant" placeholder="nom@acm.bceao.int">
                    </div>
                    <div class="row justify-content-center my-4">
                        <div class="d-flex justify-content-between mb-2 px-0">
                            <label for="motDePasse">Mot de passe</label>
                            <!-- <a href="">Mot de passe oublié?</a> -->
                        </div>
                        <div class="input-group mb-3 px-0 border rounded">
                            <input type="password" id="motDePasse" class="form-control border-0"
                                placeholder="Mot de passe">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary border-0" type="button" id="toggle-password">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                        <!-- <input type="password" class="form-control" id="motDePasse" placeholder="Password"> -->
                    </div>
                    <!-- <div class="checkbox mb-3 mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Se souvenir de moi
                        </label>
                    </div> -->
                    <div class="row">
                        <button  (click)="connexion()" type="submit" class="btn btn-primary col-12 rounded-0">Login</button>
                    </div>
                    <!-- <div class="row my-4">
                        <div class="divider d-flex w-100">
                            <div class="hr col"></div>
                            <div class="col middle-divider">
                                Ou se connecter avec
                            </div>
                            <div class="col hr"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="bottom-side">
                            <img src="./assets/image/google.png" alt="">
                            <span class="ms-4">Continuer avec Google</span>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <a href="">Créer un compte</a>
                    </div> -->
                </form>
            </div>
            <div class="bottom-bg"></div>
        </div>
    </div>
</div>